body {
  background-color: teal;
}

.game-wrapper {
  width: 1400px;
  height: 900px;
  background-color:seagreen;
  margin: auto;
  position: relative;
}

.title {
  text-align: center;
  color: white;
  font-size: 36px;
  margin: auto;
}

.board {
  margin: auto;
  width: 800px;
  height: 600px;
  background-color: green;
}

.item {
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
  color: red;
  font-weight: bold;
  font-size: 20px;

  position: absolute;

  background-size: contain;

  background-color: aqua;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.item.dragging {
  z-index: 1;
}

.item.can-drop {
  border: 5px solid yellow;
}

.dropzone {
  position: absolute;

  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}